﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<html>
      <body>
            <img src="~/images/testare.jpg" width="1200" height="500" alt="Students" >
      </body>
 </html>


<p>This application is designed for simplifying the management of students and assingments.</p>
