﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Str.Tineretului<br />
    Balea Nicusor Robert srl.<br />
    <abbr title="Phone">P:</abbr>
    0742212665
</address>

<address>
    <strong>Support:</strong> <a href=BaleaInc@st-record.com">BaleaInc@st-record.com</a><br />
    <strong>Marketing:</strong> <a href="BaleaInc@st-record.com">BaleaInc@st-record.com</a>
</address>
