﻿
<style>
    



    .button {
        border-radius: 4px;
        background-color: rgba(6, 1, 4, 0.69);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 300px;
        height: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 1s;
        margin-left: auto;
        margin-right: auto;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

</style>
<h1>
    <a asp-action="Index" asp-controller="GradesScaff"> <button class="button btn btn-black"><span>ViewGrades</span></button></a>
    <a asp-action="Index" asp-controller="Students"> <button class="button btn btn-black"><span>StudentManagement</span></button></a>


</h1>

<div>

    <img src="~/images/study.jpg" width="1200" height="500" alt="Poza">


</div>


