﻿@model IEnumerable<StudentRecordBN.Models.Grade>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url("~/images/study.jpg");
    }
</style>
<h2>Index</h2>




<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <img src="~/images/pen.jpg" width="1200" height="500" alt="Poza">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GradeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GradeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GradeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
